header {
	background-color: $black;
	font-family: $fontFamily;
	a {
		color: $light;
		text-decoration: none;
	}
}


.icon-menu {
	display: none;
	@media (max-width: 498px ) {
		display: block;
		position: absolute;
		top: 32px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $light;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

.header__menu {
}
.menu {
}
.icon-menu {
}

.head {
	display: flex;
	justify-content: space-between;
	// padding: 0 80px;
	height: 80px;
}
.header-nav__logo {
	font-size: 2rem;
	font-weight: 900;
	display: flex;
	align-items: center;
	span{
		color: $yellow;
	}
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-nav__list {
	display: flex;
	gap: 24px;	
		}
	@media (max-width: 1289px) {
		.head {
		padding: 0 20px;
		}
		.home__info {
			margin: 0 0 0 20px;
		}
	}
	@media (max-width: 564px) {
		.header-nav__logo {
			font-size: 1.5rem;			
		}
	}
	@media (max-width: 498px) {
		.header-nav {
			display: none;
		}
	}

