/* VARIABELS */

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1280px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$black: #232536;
$yellow: #FFD050;
$darkGrey: #4C4C4C;
$mediumGrey: #6D6E76;
$purple: #592EA9;
$light: #fff;
$lightYellow: #FBF6EA;
$lightGrey: #F4F4F4;
$lavender: #F4F0F8;

/* =============================== */

/* FONTS */

$fontFamily: "Inter";
$secondFont: "Sen";

/* ================================ */