@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sen:700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

header {
  background-color: #232536;
  font-family: "Inter";
}
header a {
  color: #fff;
  text-decoration: none;
}

.icon-menu {
  display: none;
}
@media (max-width: 498px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 32px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.head {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.header-nav__logo {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.header-nav__logo span {
  color: #FFD050;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  gap: 24px;
}

@media (max-width: 1289px) {
  .head {
    padding: 0 20px;
  }
  .home__info {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 564px) {
  .header-nav__logo {
    font-size: 1.5rem;
  }
}
@media (max-width: 498px) {
  .header-nav {
    display: none;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.home {
  font-family: "Inter";
  background: url("/images/home/bg.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 100vh;
}

.home__info {
  padding: 128px 0 0 0;
  color: #fff;
}

.home__sub {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2;
  padding: 0 0 24px 0;
  font-size: 1rem;
}
.home__sub span {
  font-weight: 900;
}

.home__title {
  font-family: "Sen";
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -2px;
}

.home__date {
  padding: 24px 0 16px 0;
  font-size: 1rem;
  line-height: 1.8;
}
.home__date span {
  color: #FFD050;
}

.home__text {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

.home__btn {
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Sen";
  font-weight: 700;
  padding: 1rem 3rem;
  background-color: #FFD050;
  margin: 2rem 0;
}
.home__btn a {
  text-decoration: none;
  color: #232536;
}

@media (max-width: 489px) {
  .home {
    height: 80vh;
  }
  .home__info {
    padding: 60px 0 0 0;
  }
  .home__title {
    font-size: 2.5rem;
  }
  .home__date {
    font-size: 0.8rem;
  }
  .home__text {
    font-size: 0.8rem;
  }
}
.featured-post {
  font-family: "Sen";
  margin: 128px 0 0 0;
}

.title {
  display: inline;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 7.68px;
  letter-spacing: -2px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns__left {
  border: #6D6E76 1px solid;
  margin: 3rem 0 0 0;
  flex: 1 1 auto;
}

.columns__img {
  padding: 2.2rem;
  width: 100%;
}

.columns__date {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 2.8px;
  padding: 0 0 0 2.2rem;
}

.name {
  color: #592EA9;
}

.columns__subtitle {
  font-size: 1.75rem;
  letter-spacing: -1px;
  line-height: 32px;
  padding: 1rem 0 0 2.2rem;
}

.columns__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  color: #6D6E76;
  padding: 0 0 0 2.2rem;
}

.columns__btn {
  margin: 0 0 0 20px;
}

.columns__right {
  margin: 3rem 0 0 0;
  flex: 0 0 auto;
}

.row__title-box {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 2.2rem 0.5rem;
}

.row__right-box {
  display: flex;
  gap: 20em;
}

.columns__more {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  line-height: 4.48px;
}

.post-box .date {
  padding: 2rem 0 0.5rem 2rem;
}
.post-box .columns__subtitle {
  font-size: 1.5rem;
  padding: 0.6rem 7.25rem 1.5rem 2rem;
}
.post-box:hover {
  cursor: pointer;
  background-color: #FBF6EA;
  transition: 0.3ms;
}

.columns__btn {
  display: inline-block;
  font-size: 1.3rem;
  font-family: "Sen";
  font-weight: 700;
  padding: 1rem 3rem;
  background-color: #FFD050;
  margin: 2rem 0;
  margin: 2.2rem 0 0 2.2rem;
}
.columns__btn a {
  color: inherit;
}

@media (max-width: 1289px) {
  .row__title-box {
    margin: 0;
  }
}
@media (max-width: 779px) {
  .row__right-box {
    gap: 14rem;
  }
}
@media (max-width: 769px) {
  .title {
    font-size: 2rem;
    line-height: 0;
  }
  .columns__img {
    padding: 2rem;
  }
  .featured-post {
    margin: 3.75rem 0 0 0;
  }
  .row__right-box {
    display: none;
  }
  .columns__right {
    display: none;
  }
  .title__left {
    padding: 0 0 0 1.5rem;
  }
}
@media (max-width: 549px) {
  .columns__left {
    border: none;
    margin: 3rem 0 0 0;
  }
  .columns__img {
    padding: 0;
  }
  .columns__date {
    font-size: 0.6rem;
    line-height: 2px;
    padding: 1.5rem 0 0 1.5rem;
  }
  .columns__subtitle {
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 1.8rem;
    padding: 2rem 0 0 1.5rem;
  }
  .columns__text {
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 0.5rem 0 0 1.5rem;
  }
  .columns__btn {
    margin: 2.2rem 0 0 1.5rem;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */