@use '../base/variables' as v;

.about-me {
	margin: 8rem 0 0 0;
}

.content {
	// display: flex;
	// justify-content: space-between;
	// align-items: flex-end;

}

.person_photo {
	// display: block;
	max-width: 949px;
	width: 100%;
	position: absolute;
}

.about__content {
	// align-self: flex-end;
	// height: 584px;
	width: 40rem;
	position: relative;
	left: 31%;
	padding-top: 21.96rem;
}

.about__text-box {

	padding: 5rem;
	background-color: v.$light;
}

.about-btn {
	margin: 2rem 0 0 0;
}

.more-about-me {
	.about-me__body {

		.about-me__row {
			.about-me__item-info {
				.about-me__item-title {}

				.title {}

				.about-me__subtitle {}

				.subtitle {}

				.about-me__text {}

				.text {}
			}

			.about-me__img {}
		}
	}

	.second-block {
		.second-block__row {
			.about-me__img {}

			.second-block__item-info {
				.block__title {}

				.title {}

				.block__subtitle {}

				.subtitle {}

				.block__text {}

				.text {}
			}
		}
	}
}

// For tablet & phone

@media (max-width: 769px) {
	.about-me {
		margin: 2rem 0 0 0;
	}

	.content {
		justify-content: center;
	}

	.person_photo {
		display: none;
	}

	.about__content {
		position: static;
		display: block;
		width: 100%;
		padding-top: 2rem;
	}

	.about__text-box {
		padding: 2rem;
		background-color: v.$black;
	}

	.full-name {
		padding: 0 0 1rem 0;
		color: v.$yellow;
	}

	.biography,
	.story {
		color: v.$light;
	}

	.about-btn {
		margin: 2rem 0 0 0;
		color: v.$black;
	}
}

@media (max-width: 426px) {
	.about__text-box {
		padding: 2rem .5rem;
	}
}