@use '../base/variables' as v;

.blog-post {
	margin: 128px 0;
}

.blog-post__img {
	width: 100%;
}


.blog-post__body {
	width: 844px;
	margin: 0 auto;
}

.blog-post__title {
	padding: 48px 0 0 0;
	letter-spacing: -2px;
}

.title {}

.blog-post__text {}

.text {}

.blog-post__list {
	list-style: disc;

	.post-list {
		color: v.$darkGrey;
		font-size: 24px;
		line-height: .5;
		font-family: v.$secondFont;
	}

}

.what-next {
	.what-next__body-row {
		.what-next__column {}

		.next__img {}

		.next__date {}

		.date {}

		.next__title {}

		.title {}

		.next__text {}

		.text {}
	}

}