@use '../base/variables' as v;

header {
	background-color: v.$black;
	font-family: v.$fontFamily;

	a {
		color: v.$light;
		text-decoration: none;
	}
}


header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: v.$black;
		z-index: 2;
	}
}

.head {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;

	.head__nav {
		display: flex;
	}

	.head__list {
		display: flex;
		align-items: center;
		gap: 24px;
		text-transform: uppercase;
		position: relative;
		z-index: 2;

		.head__link {
			padding: 8px;
			transition: all .3s ease;
			border-bottom: 2px solid transparent;

		}

		.head__link:hover {
			border-bottom: 2px solid v.$yellow;
		}
	}
}

.head__logo {
	font-size: 2rem;
	font-weight: 900;
	display: flex;
	position: relative;
	z-index: 3;

	span {
		color: v.$yellow;
	}
}

.head__menu {
	display: none;
}

/* RESPONSIVE FOR TABLET & PHONE */
@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}

	.head {
		height: 50px;
	}

	.head__logo {
		font-size: 1.5rem;
	}

	.head__menu {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;

		span {
			position: absolute;
			background-color: v.$light;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all .3s ease 0s;
		}

		&:before,
		&::after {
			content: '';
			background-color: v.$light;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all .3s ease 0s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		&.active {
			span {
				transform: scale(0);
			}
		}

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
	}

	.head__nav {
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: v.$black;
		padding: 80px 0 0 0;
		justify-content: center;
		font-size: 2rem;
		text-align: center;
		overflow: auto;
		transition: all .3s ease 0s;

		.head__list {
			display: block;
			align-content: center;

			& li {
				margin: 0 0 40px 0;
			}

			a {
				color: v.$lightYellow;
			}
		}

		&.active {
			top: 0;
		}
	}
}

/* =========================================== */


/* SOME BRAKE POINTS */
@media (max-width: 1289px) {
	.head {
		padding: 0 20px;
	}
}

// @media (max-width: 564px) {
// 	.head-nav__logo {
// 		font-size: 1.5rem;			
// 	}
// }
@media (max-width: 767px) {
	.head__nav {
		display: none;
	}
}

/* ========================================= */