/* VARIABELS */

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1280px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$black: #232536;
$yellow: #ffd050;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$purple: #592ea9;
$light: #fff;
$lightYellow: #fbf6ea;
$lightGrey: #f4f4f4;
$lavender: #f4f0f8;

/* =============================== */

/* FONTS */

$fontFamily: "Inter", sans-serif;
$secondFont: "Sen", sans-serif;

/* ================================ */
